header{
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-radius: 6px;
}

.headleft{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.headright{
    flex-direction: row-reverse;
    display: flex;
    height: 50px;
    justify-content: space-between;
    margin-right: 15px
}

.logo{
    height: 90px;
    width: 120px;
}

.search{
    height: 40px;
    border-radius: 10px;
    border: solid 2px turquoise;
}

.botones{
    font-size: 22px;
    color: white;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:	midnightblue;
}

.padre{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.trailer{
    height: 600px;
    width: 3500px;
    align-self: flex-start;
    border: solid 10px black;
    border-radius: 6px;
}

.textos{
    margin-left: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.desc{
    font-size: 22px;
}

.botoneras{
    margin-top: 12px;
    margin-left: 15px;
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.boton{
    transition: transform .2s;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.boton:hover{
    transform: scale(1.2);
}

.personajes{
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 30px;
    list-style: none;
    margin-top: 20px;
    background-color: black;
    border-radius: 6px;
    border: solid 3px turquoise;
}

.cara{
    height: 175px;
    width: 150px;
    border-radius: 6px;
}

.personajito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-right: 30px;
}

.desc{
    font-size: 19px;
}

a{
    text-decoration: none;
    color: white;
}