body{
    background-color:	rgb(169, 169, 169);
    background-image: url(./images/breaking\ bad.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 125px;
    background-size: 1000px;
}

.logo{
    height: 75px;
    width: 150px;
}

.botones{
    font-size: 22px;
    color: white;
    margin-left: 15px;
}

header{
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.padre{
    background-color: black;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.headright{
    flex-direction: row-reverse;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.peli{
    width: 200px;
    height: 300px;
    transition: transform .2s;
    align-self: center;
}

.peli:hover{
    transform: scale(1.2);
}

.footer{
    background-color: black;
}

.search{
    height: 40px;
}

.headleft{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.full{
    flex-direction: column;
    align-items: center;
}

.nombres{
    align-self: center;
    color: white;
}

.secciones{
    color: black;
}

.dev{
    color: white;
}