header{
    background-color: black;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
    border-radius: 6px;
}

.headleft{
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.headright{
    flex-direction: column;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px
}

.logo{
    height: 90px;
    width: 120px;
}

.botones{
    font-size: 22px;
    color: white;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.search{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    border: solid 2px turquoise;
}

.botonbusqueda{
    height: 50px;
    border-radius: 20px;
    border: solid 2px turquoise;
    background-color: grey;
}

.alerta{
    width: 250px;
    height: 30px;
    background-color: red;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    display: none;
}

.indicacion{
    color: beige;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

a{
    text-decoration: none;
    color: white;
}

body{
    background-color:	rgb(4, 4, 48);
}

.secciones{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

.padre1{
    background-color: black;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-radius: 6px;
    border: solid 3px turquoise;
    margin: 30px;
}

.full{
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -25px;
}

.peli{
    width: 200px;
    height: 300px;
    transition: transform .2s;
    align-self: center;
}

.peli:hover{
    transform: scale(1.1);
}

.nombres{
    align-self: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
}

.fechas{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

footer{
    background-color: black;
    border-radius: 6px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
}

.footeright{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoapi{
    height: 40px;
    margin-right: 10px;
    border: solid 2px turquoise;
}

.dev{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}

.endin{
    margin-left: none;
    margin-right: 15px;
}

.title {
    font-family: monospace;
    font-size: 38px;
    color: white;
    text-align: center;
}

.padre3 {
    background-color: black ;
        height: 615px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content:space-around;
        list-style: none;
        border: solid 1px turquoise;
}   

.listita {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: beige;
    list-style: none;
    font-size: 30px;
   padding: 0;
    margin-bottom:200px
}

.indice {
    text-align: center;
    color: aqua;
   font-weight: bold;
   justify-self: center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 35px;
   text-decoration: underline;
   
}

.padre2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 20px;
}

.trailer{
    height: 600px;
    width: 3500px;
    align-self: flex-start;
    border: solid 10px black;
    border-radius: 6px;
}

.textos{
    margin-left: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    color: white;
    text-align: center;
}




.desc{
    font-size: 22px;
    display: flex;
    flex-direction: row;
}

.contenidoserie {
    display: flex;
    flex-direction: column;
}

.imgdetalleseries {
    height: 65vh;
    width:40%;
    margin-right:20px ;
}


.listadetalles {
    list-style-type: square;
   
}


.personajes{
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 30px;
    list-style: none;
    margin-top: 20px;
    background-color: black;
    border-radius: 6px;
    border: solid 1px turquoise;
}

.personajito{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-right:30px;
    margin-left:30px;
}

.cara{
    height: 175px;
    width: 150px;
    border-radius: 6px;
}

.botoneras{
    margin-top: 20px;
    margin-left: 15px;
    font-size: 30px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.boton{
    transition: transform .2s;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.boton:hover{
    transform: scale(1.2);
}

.z{
    margin-left: 72px;
}

.recomendaciones{
    background: none;
    border: none;
}

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 500px;
    width: 300%;
}
#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    margin-top: 15px;
}
.imagenes{
    height: 500px;
    width: 100%;
}
.carrusel-elemento {
    float: left;
    width: 33.333%;
}

.nombregenero {
    color: white;
}

.ordencontenido {
    display: flex;
    flex-direction: column;
}

.proveedores{
    display: flex;
    flex-direction: row;
}

.imgprov {
    width:8% ;
    height: 12vh;
    
}

.tituloprov{
font-family: Arial, Helvetica, sans-serif;
color: white;

}


.padre4{
    background-color: black;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    border-radius: 6px;
    border: solid 3px turquoise;
    margin: 30px;
}

.fullgeneros{
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -25px;
    width:  250px;
}


@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}
@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@media (max-width: 420px) {

    header {
        height: 10vh; ;
        background-color: black;;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0px;
        width: 100%;
     }
     
     .logo {
     height: 8vh;
     width: 19vw;
     }
     
     .botones {
         font-size: 12px;
     }
     
     .headleft {
     width:80vw ;
     }
     
     .headright {
     width: 15vh;
     height: 8vw;
     }
     
     .search {
     width: 10vh;
     height: 8vw;
     
     }
     
     #carrusel-contenido {
         display:none
     }



     .secciones {
        font-size:18px;
        margin: 50px 0px 10px 10px
     }

     .padre1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; 
    background-color: black;
    height: 248vh;
    align-items: center;
    border: solid 3px turquoise;
    width: 100%;
    margin: 0px 0px 30px 0px;
     }

     .full {
        display:flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin: 0px 0px 0px 0px;
       }

     .peli {
        margin: 15px 0px 0px 0px;
   }

    .nombres {
        margin-top: 2px;
        font-size: 15px;
    }

    .padre2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .imgdetalleseries {
        width:6%;
        height: 55vh;   
    }

    .trailer {
    width:90% ;
    height: 55vh;  
    }
   
    .desc {
        width: 90%;
        }

    .sinopsis {
        font-size: 15px;
    }

    .cara {
        width: 14vw;
        height: 12vh;  
    }

    .actor {
        font-size: 12px;
    }

    .botoneras {
    margin-top: 0px;
    }

    .boton {
       font-size: 10px;
    }

    .personajes {
    width: 90%;
    }

    .personajito {
        margin-left: 10px;
    }

   .padre3 {
    width: 100%;
    height: 88vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }

   .categorias{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }


   .title {
    font-size: 24px;
   }

   .indice {
    font-size:25px;
   }

   .listita {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size:19px;
    padding: 0;
    margin: 0;

   }
   .kung{
    height: 170vh;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 8vh;
        justify-content: space-around;
    }

    .dev {
        font-size: 13px;
        font-family:Arial, Helvetica, sans-serif;
    }


    .listadopeliculasgen
    {
        color: white;
    }


}